<div class="login-info-step1">
    <div class="login-info-step1-wraper">
        <app-side-panel></app-side-panel>
        <div class="login-info-step1-content">
                <div class="content-img"> 
                    <img src="assets/images/back2.png" alt="">
                </div>
                <div class="content-text">
                    <p>Strato -<br>Cloud Computing on the Blockchain</p>
                </div>
                <div class="custom_button"><a routerLink="/info-step2" >Next page</a></div> 
        </div>
    </div>
</div>